// Breakpoints
$breakpoints: (
  mobile: 375px,
  tablet: 768px,
  desktop: 1440px,
);

// Mixin
@mixin mq($device) {
  @media (min-width: map-get($breakpoints, $device)) {
    @content;
  }
}

// Color
$white: #fff;
$black: #000;
$purple100: #f8eeff;
$purple600: #8b6990;
$purple950: #301534;
$violet600: #ad28eb;

// Font
$font-size-base: 1rem;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-family: "Work Sans", sans-serif;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  background-color: $purple100;
}

main {
  padding-top: 8.156rem;
  padding-bottom: 2rem;
  background-image: url(../images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;

  @include mq(tablet) {
    background-image: url(../images/background-pattern-desktop.svg);
    padding-top: 10.49rem;
  }
}

.card {
  max-width: 20.44rem;
  width: 100%;
  margin: 0 auto;
  background-color: $white;
  border-radius: 1.5rem;
  padding: 1.5rem 0;

  @include mq(tablet) {
    max-width: 37.5rem;
    padding: 2.5rem 0;
  }
}

.container {
  max-width: 17.44rem;
  width: 100%;
  margin: 0 auto;

  @include mq(tablet) {
    max-width: 32.5rem;
  }
}

.card__title {
  font-size: 2rem;
  font-weight: $font-weight-bold;
  display: flex;
  gap: 1.5rem;
  align-items: center;

  @include mq(tablet) {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
  }

  img {
    width: 24px;
    height: 24px;

    @include mq(tablet) {
      width: 40px;
      height: 40px;
    }
  }
}

// Accordion
.accordion {
  max-width: 20.44rem;
  width: 100%;
  margin: 0 auto;

  @include mq(tablet) {
    max-width: 32.5rem;
  }
}

.accordion__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $purple100;

  &:last-child {
    border-bottom: none;
  }
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: $violet600;
  }
}

.accordion__header-question {
  max-width: 14rem;
  padding: 1.5rem 0;
  font-weight: $font-weight-semibold;

  @include mq(tablet) {
    max-width: 30rem;
    line-height: 1.166;
  }
}

.accordion__btn {
  font-weight: $font-weight-semibold;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  width: 24.38px;
  height: 24.38px;
  transition: transform 0.3s ease-in-out;
}

.icon.rotate {
  transform: rotate(180deg);
}

.accordion__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.accordion__item.active .accordion__body {
  max-height: 200px;
}

.accordion__body-answer {
  color: $purple600;
  font-size: 0.875rem;
  line-height: 1.5;
  padding-bottom: 1.5rem;
}
